<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default.html}"
>

<head>
    <!--자동추가-->

    <style>
        .jumbotron-fluid:hover{

            background-color: #888888;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron jumbotron-fluid"   th:onclick="|location.href='@{/region}'|" style="cursor: pointer; height: 500px">
        <div class="container"  style="text-align: center; margin-top: 100px">
            <h1 class="display-4">My World</h1>
            <h2 class="lead">추억들을 장소별로 저장하세요</h2>
        </div>
    </div>
</div>
</body>
</html>